########################### NETWORKS
networks:
  media-management:
    external: true

########################### VOLUMES
volumes:
  series_en-sonarr.etc:
  series_anime-sonarr.etc:
  series_de-sonarr.etc:
  media:
    driver_opts:
      type: "nfs"
      o: "addr=10.0.20.200,soft,nfsvers=4"
      device: ":/Media"

########################### LOCKDOWN
x-lockdown: &lockdown
  read_only: true
  security_opt:
    - "no-new-privileges=true"

########################### SERVICES
services:
  series_en-sonarr:
    container_name: ${SERIES_EN_ID}-sonarr
    image: ghcr.io/11notes/sonarr:${SONARR_VERSION}
    restart: unless-stopped
    <<: *lockdown
    tmpfs:
      - "/tmp:uid=${PUID},gid=${PGID}"
    user: ${PUID}:${PGID}
    networks:
      - media-management
#    ports:
#      - 8989:8989
    volumes:
      - ${SERIES_EN_ID}-sonarr.etc:/sonarr/etc
      - media:/media
    environment:
      - TZ=${TZ}
      - SONARR__APP__INSTANCENAME=${SERIES_EN_ID}
      - SONARR__AUTH__APIKEY=${SERIES_EN__AUTH__APIKEY}

  series_anime-sonarr:
    container_name: ${SERIES_ANIME_ID}-sonarr
    image: ghcr.io/11notes/sonarr:${SONARR_VERSION}
    restart: unless-stopped
    <<: *lockdown
    tmpfs:
      - "/tmp:uid=${PUID},gid=${PGID}"
    user: ${PUID}:${PGID}
    networks:
      - media-management
#    ports:
#      - 8990:8990
    volumes:
      - ${SERIES_ANIME_ID}-sonarr.etc:/sonarr/etc
      - media:/media
    environment:
      - TZ=${TZ}
      - SONARR__APP__INSTANCENAME=${SERIES_ANIME_ID}
      - SONARR__AUTH__APIKEY=${SERIES_ANIME__AUTH__APIKEY}
      - SONARR__SERVER__PORT=8990

  series_de-sonarr:
    container_name: ${SERIES_DE_ID}-sonarr
    image: ghcr.io/11notes/sonarr:${SONARR_VERSION}
    restart: unless-stopped
    <<: *lockdown
    tmpfs:
      - "/tmp:uid=${PUID},gid=${PGID}"
    user: ${PUID}:${PGID}
    networks:
      - media-management
#    ports:
#      - 8991:8991
    volumes:
      - ${SERIES_DE_ID}-sonarr.etc:/sonarr/etc
      - media:/media
    environment:
      - TZ=${TZ}
      - SONARR__APP__INSTANCENAME=${SERIES_DE_ID}
      - SONARR__AUTH__APIKEY=${SERIES_DE__AUTH__APIKEY}
      - SONARR__SERVER__PORT=8991

  unpackerr_sonarr:
    image: golift/unpackerr
    container_name: unpackerr_sonarr
    volumes:
      - media:/media
    restart: unless-stopped
    user: ${PUID}:${PGID}
    networks:
      - media-management
    environment:
      - TZ=${TZ}
      - UN_LOG_FILE=/media/downloads/qbittorrent/unpackerr_sonarr.log
      - UN_FOLDER_0_PATH=/media/downloads/qbittorrent/complete
      - UN_SONARR_0_URL=http://${SERIES_EN_ID}-sonarr:8989
      - UN_SONARR_0_API_KEY=${SERIES_EN__AUTH__APIKEY}
      - UN_SONARR_1_URL=http://${SERIES_ANIME_ID}-sonarr:8990
      - UN_SONARR_1_API_KEY=${SERIES_ANIME__AUTH__APIKEY}
      - UN_SONARR_2_URL=http://${SERIES_DE_ID}-sonarr:8991
      - UN_SONARR_2_API_KEY=${SERIES_DE__AUTH__APIKEY}


#    deploy:
#      resources:
#        limits:
#          cpus: '1.00'
#          memory: 1G
#        reservations:
#          cpus: '0.5'
#          memory: 100M
